{% load main_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/main.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>Here are our posts.</h2>
    <p>{% total_posts %} posts.</p>
    <p><a href="{% url "main:post_feed" %}">Subscribe to my RSS feed</a></p>
    <h3>Latest posts</h3>
    {% get_latest_posts 3 %}
    <h3>Most commented posts</h3>
    {% get_most_commented_posts 3 %}
    <p>
      <a href="/">Home</a>
    </p>
  </div>
</body>
</html>